<body class="bg-body-tertiary">
  <div class="container" style="max-width: 960px">
    <main>
      <div class="py-5 text-center">
        <h2>Checkout form</h2>
      </div>
      <%= render partial: 'shared/error_messages' %>
      <div class="row g-5">
        <div class="col-md-5 col-lg-4 order-md-last">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">Your cart</span>
            <span class="badge bg-primary rounded-pill"><%= total_quantity %></span>
          </h4>
          <ul class="list-group mb-3">
            <% @cart_products.each do |cart_product| %>
              <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                  <h6 class="my-0"><%= cart_product.product.name %></h6>
                  <%#<small class="text-body-secondary">Brief description</small>%>
                  <span>
                    <span>数量:</span>
                    <span><%= cart_product.quantity%></span>
                  </span>
                </div>
                <div>
                  <h6 class="my-0"><%= number_to_currency(cart_product.product.price, unit: "¥", format: "%u %n" ) %></h6>
                  <span style="float: right">
                    <%= link_to "削除", cart_product_path(cart_product.product_id), data: { turbo_method: :delete ,turbo_confirm: "削除しますか?"}, class: "btn btn-outline-danger btn-sm", style: "padding: 0 0.3rem" %>
                  </span>
                </div>
              </li>
            <% end %>
            <% if @current_cart.coupon.present? %>
              <li class="list-group-item d-flex justify-content-between bg-body-tertiary">
                <div class="text-success">
                  <h6 class="my-0">Promo code</h6>
                  <small><%= @current_cart.coupon.code %></small>
                </div>
                <span class="text-success">-<%= number_to_currency(@current_cart.coupon.discount_amount, unit: "¥", format: "%u %n" ) %></span>
              </li>
            <% end %>
            <li class="list-group-item d-flex justify-content-between">
              <span>Total (JPY)</span>
              <strong><%= number_to_currency(@subtotal, unit: "¥", format: "%u %n" ) %></strong>
            </li>
          </ul>
          <% if @current_cart.coupon.blank? %>
            <div class="card p-2">
              <%= form_with model: @coupon, url: coupon_cart_products_path, method: :patch do |f|%>
                <div class="input-group">
                  <%= f.text_field :code, class:"form-control", placeholder:"Promo code"%>
                  <%= f.submit 'Redeem', class:"btn btn-secondary" %>
                </div>
              <% end %>
            </div>
          <% end %>
          <% if flash[:notice] %>
            <div class="alert alert-primary" style="text-align: center">
              <%= flash[:notice] %>
            </div>
          <% end %>
        </div>
        <div class="col-md-7 col-lg-8">
          <h4 class="mb-3">Billing address</h4>
          <%# ここからbilling address %>
          <%= form_with model: @order,url: checkouts_path, method: :post do |f| %>
            <div class="row g-3">
              <div class="col-sm-6">
                <%= f.label :firstname, "First name", class:"form-label" %>
                <%= f.text_field :firstname, class: "form-control" %>
                <div class="invalid-feedback">
                  Valid first name is required.
                </div>
              </div>
              <div class="col-sm-6">
                <%= f.label :lastname, "Last name", class:"form-label" %>
                <%= f.text_field :lastname, class: "form-control" %>
                <div class="invalid-feedback">
                  Valid last name is required.
                </div>
              </div>
              <div class="col-12">
                <%= f.label :username, class: "form-label"%>
                <div class="input-group has-validation">
                  <span class="input-group-text">@</span>
                  <%= f.text_field :username, class: "form-control", placeholder:"Username"%>
                  <div class="invalid-feedback">
                    Your username is required.
                  </div>
                </div>
              </div>
              <div class="col-12">
                <%= f.label :email, "Email", class:"form-label" %>
                <%= f.text_field :email, class: "form-control", placeholder: "you@example.com" %>
                <div class="invalid-feedback">
                  Please enter a valid email address for shipping updates.
                </div>
              </div>
              <div class="col-12">
                <%= f.label :address1, "Address", class:"form-label" %>
                <%= f.text_field :address1, class: "form-control", placeholder:"1234 Main St" %>
                <div class="invalid-feedback">
                  Please enter your shipping address.
                </div>
              </div>
              <div class="col-12">
                <%= f.label :address2, "Address 2 (Optional)", class:"form-label" %>
                <%= f.text_field :address2, class: "form-control", placeholder:"Apartment or suite" %>
              </div>
              <div class="col-md-5">
                <%= f.label :country, "Country", class:"form-label" %>
                <%= f.select :country, [['Japan','Japan'],['USA','USA'],['China','China'],['Germany','Germany'],['India','India']], { include_blank: "Please Select"}, {id: 'Country',class:"form-select"} %>
                <div class="invalid-feedback">
                  Please select a valid country.
                </div>
              </div>
              <div class="col-md-4">
                <%= f.label :state, "State",class:"form-label" %>
                <%= f.select :state, [['Tokyo','Tokyo'],['Osaka','Osaka'],['Fukuoka','Fukuoka']],{include_blank: "Please Select"},{ class:"form-select"} %>
                <div class="invalid-feedback">
                  Please provide a valid state.
                </div>
              </div>
              <div class="col-md-3">
                <%= f.label :zip, "Zip", class:"form-label" %>
                <%= f.text_field :zip, class: "form-control" %>
                <div class="invalid-feedback">
                  Zip code required.
                </div>
              </div>
              <hr class="my-4">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="same-address">
                <label class="form-check-label" for="same-address">Shipping address is the same as my billing address</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="save-info">
                <label class="form-check-label" for="save-info">Save this information for next time</label>
              </div>
              <hr class="my-4">
              <h4 class="mb-3">Payment</h4>
              <div class="my-3">
                <div class="form-check">
                  <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked required>
                  <label class="form-check-label" for="credit">Credit card Only</label>
                </div>
              </div>
              <div class="row gy-3">
                <div class="col-md-6">
                  <%= f.label :cardname, "Name on card", class:"form-label" %>
                  <%= f.text_field :cardname, class:"form-control" %>
                  <small class="text-body-secondary">Full name as displayed on card</small>
                  <div class="invalid-feedback">
                    Name on card is required
                  </div>
                </div>
                <div class="col-md-6">
                  <%= f.label :cardnum, "Credit card number", class:"form-label" %>
                  <%= f.text_field :cardnum, class:"form-control" %>
                  <div class="invalid-feedback">
                    Credit card number is required
                  </div>
                </div>
                <div class="col-md-3">
                  <%= f.label :expiration, "Expiration", class:"form-label" %>
                  <%= f.text_field :expiration, class:"form-control" %>
                  <div class="invalid-feedback">
                    Expiration date required
                  </div>
                </div>
                <div class="col-md-3">
                  <%= f.label :cvv, "CVV", class:"form-label" %>
                  <%= f.text_field :cvv, class:"form-control" %>
                  <div class="invalid-feedback">
                    Security code required
                  </div>
                </div>
              </div>
              <hr class="my-4">
              <%= f.submit "購入する",class:"w-100 btn btn-primary btn-lg" %>
              <%#= button_to "購入する", checkouts_path(), data: { "turbo-method": :post }, class:"w-100 btn btn-primary btn-lg" %>
            <% end %>
          </div>
        </div>
      </main>
      <footer class="my-5 pt-5 text-body-secondary text-center text-small">
        <ul class="list-inline">
        </ul>
      </footer>
    </div>
  </body>
