<body>
  <!-- Header-->
  <%= render partial: 'layouts/header' %>
  <!-- Section-->
  <section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
      <%= link_to new_admin_item_path, class: "btn btn-outline-dark" do %>
        <span>商品作成</span>
      <% end %>
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <% @products.each do |product| %>
          <div class="col mb-5">
            <div class="card h-100">
              <!-- Sale badge-->
              <div class="badge bg-secondary position-absolute" style="bottom: 2.5rem; right: 0.5rem">
                <%= link_to '編集',edit_admin_item_path(product),class:"text-white" %>
              </div>
              <div class="badge bg-danger position-absolute" style="bottom: 1.0rem; right: 0.5rem">
                <%= link_to '削除', "items/#{product.id}", data: { turbo_method: :delete }, class:"text-white" %>
              </div>
              <!-- Product image -->
              <%#= link_to edit_admin_item_path(product) do %>
                <%= image_tag(rails_blob_path(product.image.variant(resize_to_fill: [223,157]))) %>
                <%# end %>
                <!-- Product details-->
                <div class="card-body p-4">
                  <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder"><%= product.name %></h5>
                    <!-- Product reviews-->
                    <div class="d-flex justify-content-center small text-warning mb-2">
                      <div class="bi-star-fill"></div>
                      <div class="bi-star-fill"></div>
                      <div class="bi-star-fill"></div>
                      <div class="bi-star-fill"></div>
                      <div class="bi-star-fill"></div>
                    </div>
                    <!-- Product price-->
                    <%= product.price %>
                  </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                  <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </section>
  </body>
